<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test SMTP</title>
</head>

<body>
<p style="margin-top: 0; margin-bottom: 0">
    Email: {{ email }}
</p>
<p style="margin-top: 0; margin-bottom: 0">
    Host: {{ host }}
</p>
<p style="margin-top: 0; margin-bottom: 0">
    The date of sending: {{ date|date("d.m.Y H:i") }}
</p>
</body>
</html>